In [5]:
import pandas as pd

In [6]:
# 將以下問卷資料的職業(Profession) 欄位缺失值填入字串 'others'
q_df = pd.DataFrame([['male', 'teacher'], ['male', 'engineer'], ['female', None], ['female', 'engineer']],columns=['Sex','Profession'])
q_df = q_df.fillna('others')
q_df

      Sex Profession
0    male    teacher
1    male   engineer
2  female     others
3  female   engineer

In [7]:
# 更進一步將字串做編碼。 此時用什麼方式做編碼比較適合？為什麼
pf = pd.get_dummies(q_df['Profession'])
#類別之間沒有順序關係
df = pd.concat([q_df, pf], axis=1)
print(df)

      Sex Profession  engineer  others  teacher
0    male    teacher         0       0        1
1    male   engineer         1       0        0
2  female     others         0       1        0
3  female   engineer         1       0        0