In [1]:
# 用統計描述資料的樣態
!pip3 install pandas
# library
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from scipy import stats
import math
import statistics
import seaborn as sns
# 今天學到不同統計量之間特性，
# 試著分析男生女生身高資料，
# 試著回答下面的問題:

Requirement already satisfied: pandas in /opt/anaconda3/lib/python3.8/site-packages (1.1.3)
Requirement already satisfied: python-dateutil>=2.7.3 in /opt/anaconda3/lib/python3.8/site-packages (from pandas) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /opt/anaconda3/lib/python3.8/site-packages (from pandas) (2020.1)
Requirement already satisfied: numpy>=1.15.4 in /opt/anaconda3/lib/python3.8/site-packages (from pandas) (1.19.2)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [24]:
#輸入資料
boys=[164, 176, 169, 169, 165, 175, 159, 151, 144, 160, 183, 165, 156, 170,
 164, 173, 165, 163, 177, 171]
girls=[169,170,162,154,183,173,169,167,170,185,162,175,168,151,181,170,182,156,159,160]
# Q1:試著用今天所教的內容，如何描述這兩組資料的樣態?
df_boys = pd.DataFrame(boys)
df_boys.columns = ['boy']
df_girls = pd.DataFrame(girls)
df_girls.columns = ['girl']
df = pd.concat([df_boys, df_girls],axis=1)
df.describe()

              boy        girl
count   20.000000   20.000000
mean   165.950000  168.300000
std      9.213691    9.766215
min    144.000000  151.000000
25%    162.250000  161.500000
50%    165.000000  169.000000
75%    171.500000  173.500000
max    183.000000  185.000000

In [27]:
# Q2: 請問男生和女生在平均身高上誰比較高?
print("mean 165.95 < 168.30 女生比較高")

mean 165.95 < 168.30 女生比較高

In [25]:
# Q3:請問第二題的答案和日常生活中觀察的一致嗎? 如果不一致，你覺得原因可能為何?
print("不一致，樣本數太少，每組至少要30組以上")

不一致，樣本數太少，每組至少要30組以上